@import url('https://fonts.googleapis.com/css?family=Archivo');

body {
	background-image: url("../images/legion-bg.jpg");
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-attachment: fixed;
	overflow-y: scroll;
	font-size: 20px;
	font-family: 'Archivo', sans-serif;
	background-color: #fff;
	text-align: center;
}

h1 {
	color: #dfe6e9;
	text-shadow: 2px 2px #636e72;
	padding-top: 25px;
	font-size: 50px;
	font-weight: 1000; 
}

.league-banner {
	align-self: center;
}

.main-area {
	margin: 30px;
	display: inline-block;
	background-color: rgba(223, 230, 233, 0.3);
	min-width: 50%;
	max-width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 15px;
}

tr, th {
	font-weight: 300;
	padding: 5px;
	text-align: center;
}

#exalted {
	box-shadow: 2px 2px rgba(99, 110, 114, 0.8);
	padding-right: 8px;
	display: table-cell;
	font-size: 25px;
	font-weight: 400;
	border-radius: 12px;
	border-collapse: collapse;
	width: 100%;
	background-color: rgba(253, 203, 110, 0.6);
}

#currency {
	border-collapse: collapse;
	width: 100%;
}

#name, #exName {
	text-align: left;
}

#worth-yes {
	background-color: rgba(0, 184, 148, 0.6);
}

#worth-no {
	background-color: rgba(214, 48, 49, 0.6);
}

img[alt='icon'] {
	margin: 5px;
	vertical-align: middle;
}

img[alt='header'] {
	margin-top: 15px;
	vertical-align: middle;
	height: 220px;
}

a:link, a:visited {
	color: black;
	font-size: 10px;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 5px;
  }

a[id='buy-button']{
	margin-left: 25px;
	background-color: rgba(53, 241, 46, 0.616);
}
a[id='sell-button']{
	margin-left: 2px;
	background-color: rgba(231, 23, 23, 0.753);
}
